/* B&W HEADER WITH NAV */

.am-header {
    height: 6rem;
    background-color: white;

}

.am-black-bar-logo {
    background-color: black;
    height: 2rem;
}





/* JUMBOTRON WITH HIGHLIGHTS */

.am-jumbo {
    margin-top: 8rem;
    height: 41rem;
    background-image: url(../img/jumbo-bg.png);
    background-position: 50%;
}




/* PLAYSTATION 5 SECTION */




/* NEW GAMES */

.am-takes-two{
    height: 35rem;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.am-new-games-section{
    background-color: #1F1F1F;
}