/* B&W HEADER WITH NAV */

.am-header {
    height: 6rem;
    background-color: white;

}

.am-black-bar-logo {
    background-color: black;
    height: 2rem;
}



/* JUMBOTRON WITH HIGHLIGHTS */

.am-jumbo {
    margin-top: 6rem;
    height: 41rem;
    background-image: url(../img/jumbo-bg.png);
    background-position: 50%;
}




/* PLAYSTATION 5 SECTION */

.am-no-limits-h {
    color: #2D64E6;
    font-weight: 600;
}




/* NEW GAMES */

.am-takes-two {
    height: 35rem;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.am-new-games-section {
    color: white;
    min-width: 100%;
    background-color: #1F1F1F;
}


/* PLAYSTAION 4 SECTION */


/* PLAYSTATION PLUS SECTION */

.am-psplus-section {
    background-color: #BEBCBB;
    min-width: 100%;
}

.am-psplus-button {
    background-color: #dddcdb;
    border: none;
    color: #2D64E6;
    font-weight: 500;
}




/* PLAYSTATION STORE SECTION */



/* PLAYSTATION NOW SECTION */

.am-psnow-section {
    background-color: #161C3B;
    color: white;
    min-width: 100%;
}

.am-psnow-button {
    border: none;
    background-color: white;
    font-weight: 500;
}